@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.form-input {
    margin-top: 20px;
    background-color: #1d1d1d;
    height: 70px;
    border: 3px solid rgb(128, 0, 128);
    border-radius: 13px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.form-submit {
    margin-left: 10px;
    margin-top: 20px;
    background-color: #1d1d1d;
    height: 80px;
    width: 200px;
    border: 3px solid rgb(128, 0, 128);
    border-radius: 13px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.form-submit:hover {
    background-color: rgba(128,0,128,0.4);
}

.h3 {
    font-family: "Roboto";
    
}

.h3-2 {
    font-family: "Roboto";
    color:rgb(209, 0, 209);
    font-size: 30px;
    margin-top: -10px;
}

.h2 {
    font-family: 'Roboto';
    font-size: 25px;
}

.h2-link {
    font-family: 'Roboto';
    font-size: 35px;
    color:rgb(156, 154, 154);
    text-decoration: underline;
    cursor: pointer;
    background-color: #1d1d1d;
    border: none;
    text-align: center;
    width: auto;
    max-width: 90%;
    height: 38px;
    resize: none;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.qrcode {
    border-radius: 5px;
}

.close-btn {
    border-color: rgb(255,0,0);
}

.start-btn {
    border-color: rgb(0,255,0);
}

.start-btn:hover{
    background-color: rgba(0,255,0,0.4);
}

.close-btn:hover {
    background-color: rgba(255,0,0,0.4);
}

.h2-2 {
    font-family: 'Roboto';
    font-size: 35px; 
    color:rgb(209, 0, 209);
    margin-top: 20px
}

.h2-2-code {
    font-family: 'Roboto';
    font-size: 50px; 
    color:rgb(209, 0, 209);
    margin-top: 20px
}

.username {
    display: inline;
}

.username-div {
    text-align: center;
}

.pencil {
    font-size: 25px;
    display: inline;
    margin-left: 10px;
}

.pencil:hover {
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(209, 0, 209);
}

#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('btn_google_signin_light_normal_web.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}